@font-face {
  font-family: remixicon;
  src: url("remixicon/remixicon.eot?t=1572787439022"); /* IE9*/
  src: url("remixicon/remixicon.eot?t=1572787439022#iefix") format('embedded-opentype'), url("remixicon/remixicon.woff2?t=1572787439022") format("woff2"), url("remixicon/remixicon.woff?t=1572787439022") format("woff"), url("remixicon/remixicon.ttf?t=1572787439022") format('truetype'), url("remixicon/remixicon.svg?t=1572787439022#remixicon") format('svg'); /* iOS 4.1- */
  font-display: swap;
}

html {
  font-size: 62.5%;
}
body {
  line-height: 1.7;
}

.sidebar {
  transition: all 0.3s ease-in-out;
}

.sidebar {
  font-size: 1.4rem;
  position: fixed;
  z-index: 9;
  left: -7rem;
  bottom: 0;
  width: 7rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.sidebar.on {
  left: 0;
}

.navbar-toggle {
  transform: scale(1.1);
  position: absolute;
  top: 1.5rem;
  left: 8.5rem;
  border: none;
  height: 4rem;
  width: 4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

.navbar-toggle:hover {
  opacity: 1;
}

.navbar-toggle::before {
  content: "\ee09";
  font-family: remixicon;
  font-size: larger;
}

.navbar {
  position: relative;
  padding-top: 3rem;
  text-align: center;
}

.navbar .nav {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.navbar .nav .nav-item-link {
  display: block;
  padding: 1rem;
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.navbar .nav .nav-item-link:hover {
  opacity: 0.8;
  background-color: #403e3e;
}

.navbar .nav.nav-main .nav-item-link i {
  font-size: 1rem;
  display: block;
  line-height: 1;
}

.navbar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2rem;
}

.logo {
  text-align: center;
  margin-bottom: 2rem;
}

.logo img {
  width: 4.2rem;
}

.search-form-wrap {
  width: 100%;
  position: fixed;
  top: -100%;
  right: 7rem;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.search-form-wrap.on {
  top: 0;
  opacity: 1;
}

.article-nav-link {
  display: block;
  text-decoration: none;
}
.article-nav-link:first-child {
  float: left;
}
.article-nav-link:last-child {
  float: right;
  text-align: right;
}
.article-nav-caption {
  color: #5c6b72;
}
.article-nav-title {
  font-size: inherit;
}

button {
  outline: none;
  cursor: pointer;
}
